@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000;
	background-image: linear-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.05) 2px, transparent 1px),
		linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
	background-size:
		100px 100px,
		100px 100px,
		20px 20px,
		20px 20px;
	background-position:
		-2px -2px,
		-2px -2px,
		-1px -1px,
		-1px -1px;
}

.letter {
	@apply w-20 h-20 p-4;
	@apply flex flex-col items-center justify-center;
	@apply bg-stone-600/10 hover:bg-stone-600/20 backdrop-blur-sm rounded-xl transition ease-out;
	@apply border-2 border-stone-700/10;
	@apply font-extrabold text-xl;
}

.input {
	@apply p-2 m-2;
	@apply flex flex-col items-center justify-center;
	@apply bg-stone-600/10 hover:bg-stone-600/20 focus:bg-stone-600/40  backdrop-blur-sm rounded-xl transition ease-out;
	@apply border-2 border-stone-700/10;
	@apply text-stone-50 font-extrabold text-xl;
	@apply outline-none;
}

.big-text {
	@apply text-stone-50/50 text-center text-5xl font-extrabold;
}

.small-text {
	@apply text-stone-100/50 text-center text-xl font-extrabold;
}

.big-text.link {
	@apply transition ease-out p-4 rounded-xl;
	@apply hover:text-stone-50/80 active:text-stone-50;
	@apply bg-stone-500/10 backdrop-blur-sm hover:bg-stone-500/40 active:bg-stone-500;
}
