@import 'tailwindcss';

@theme {
	--color-accent: #ddd;
}

body {
	background-color: #111111;
	background-image: radial-gradient(circle, #1a1a1a 0%, #000000 100%);
	height: 100vh;

	@apply text-white;
}

.header {
	@apply sticky top-0 z-50 flex items-center justify-center gap-2 overflow-x-auto;
	@apply m-0 px-2 text-2xl font-black;
}

.section-link {
	@apply relative;
	@apply hover:bg-accent/50;
	@apply transition-all ease-in-out;
	@apply rounded-2xl p-2 hover:px-4;
}

.section-link.active {
	@apply bg-accent/25 hover:bg-accent/60;
}

.section-link::before {
	@apply bg-accent absolute opacity-0;

	content: '';

	width: 2rem;
	height: 0.375rem;

	left: calc(50% - 2rem / 2);
	bottom: 0.375rem;

	border-radius: 0.25rem;

	transition:
		opacity 100ms ease-in-out,
		bottom 100ms ease-in-out;
}

.section-link:hover::before,
.section-link.active::before {
	opacity: 1;

	bottom: -0.2rem;
}

.letter {
	@apply w-20 h-20 p-4;
	@apply flex flex-col items-center justify-center;
	@apply bg-accent/10 hover:bg-accent/20 backdrop-blur-xs rounded-xl transition ease-out;
	@apply border-2 border-accent/10;
	@apply font-extrabold text-xl;
}

.input {
	@apply p-2 m-2;
	@apply flex flex-col items-center justify-center;
	@apply bg-accent/10 hover:bg-accent/20 focus:bg-accent/40 backdrop-blur-xs rounded-xl transition ease-out;
	@apply border-2 border-accent/10;
	@apply text-accent/80 font-extrabold text-xl;
	@apply outline-hidden;
}

.big-text {
	@apply text-stone-50/50 text-center text-5xl font-extrabold;
}

.small-text {
	@apply text-stone-100/50 text-xl font-extrabold;
}

.big-text.link,
.small-text.link {
	@apply transition ease-out p-2 rounded-xl;
	@apply hover:text-stone-50/80 active:text-stone-50;
	@apply bg-stone-500/10 backdrop-blur-xs hover:bg-stone-500/40 active:bg-stone-500;
}
